:root {
    --modal-wrapper-opacity: rgba(105,171,159,.25); /*rgba(105,171,159,.3)*/

    

    --bg-color: #bde4a8; /*done*/

    --header-text-color: #59994d; /*done*/

    --input-text-color: #676f54; /*done*/
    --input-selection-color: #9cc69b; /*done*/
    --input-bar-color: #82BB78; /*done*/

    --proceed-color: #59994d; /*done*/
    --proceed-hover-color: #3b6633; /*done*/
    --proceed-text-color: #f0f7ee; /*done*/

    --modal-bg-color: #79b4a9; /*done*/
    --modal-header-text-color: #eaf3f2; /*done*/
    --modal-button-color: #eaf3f2; /*done*/
    --modal-button-hover-color: #519084; /*done*/
    --modal-button-text-color: #519084; /*done*/
    --modal-button-hover-text-color: #EAF3F2; /*done*/
}

body,
html
{
    font-family: sans-serif;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    background: var(--bg-color);
}

::-moz-selection
{
    background: #a6c100;
}

::selection
{
    background: var(--input-selection-color);
}

.wrapper
{
    height: 100%;
}

h1
{
    font-size: 60px;

    color: var(--header-text-color);
}

.head,
.input,
.proceed-wrapper
{
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.head
{
    height: 20%;
}

.input
{
    height: 50%;
}

.proceed-wrapper
{
    height: 30%;

    align-items: flex-start;
}

.input div
{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 50%;
}
